---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About Big Georgia</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/contact/">Contact</a>
    <h1>About Big Georgia</h1>
    <section>
      <h2>History</h2>
      <p>
        Big Georgia was originally born in Austria in 1903. To this day she
        remains one of the largest recorded cats in central Europe.
      </p>
      <p>Features:</p>
      <ul>
        <li>Big and Tall</li>
        <li>Automated temperature and humidity regulation</li>
        <li>Bedtime baby</li>
      </ul>
      <p>Limitations:</p>
      <ul>
        <li>Loud</li>
        <li>ISO 8601 not currently supported</li>
        <li>Limited support for natural speech recognition</li>
      </ul>
    </section>
  </body>
</html>
